<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" routerLink="/homepage" routerLinkActive="active">{{title}}</a>
    </div>
    <ul class="nav navbar-nav">
      <li><a routerLink="/page1" routerLinkActive="active">{{item1}}</a></li>
      <li><a routerLink="/page2" routerLinkActive="active">{{item2}}</a></li>
      <li><a routerLink="/page3" routerLinkActive="active">{{item3}}</a></li>
      <li><a routerLink="/page4" routerLinkActive="active">{{item4}}</a></li>
    </ul>
    
  </div>
</nav>
